<View>
  <Image name="image" value="$image"/>
  <Header value="Title/Caption:"/>

  <Text name="caption" value="$caption"/>

  <Header value="Template Category:"/>
  <Choices name="Ontology" toName="image">
      <Choice value="People"/>
      <Choice value="Media"/>
    <Choice value="Events"/>
      <Choice value="Emotional Reaction"/>
  </Choices>

  <Header value="If a link to the general template is known, add it here:"/>
  <TextArea name="knowyourmeme_link" toName="image" placeholder="Add a link to knowyourmeme here" />
  <TextArea name="other_link" toName="image" placeholder="Add a link to any other website here" />

</View>
